# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual env
.venv/
.env

# macOS
.DS_Store

# IDEs
.vscode/

# Test/artifact folders
reports/
allure-results/
playwright-report/
test-results/
pytest_cache/
# Node
node_modules/

# Byte-compiled / optimized / DLL files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Coverage
.coverage
coverage.xml
htmlcov/.env
.env.local
.vscode/
__pycache__/
